ul.nav.align-items-stretch.h-100
    each val, index in ['Appréciations clients','Clients','Expérience','Candidats','Contact']
        li.nav-item
            a.nav-link(href='#')
                span= val