//ARTICLE
article.card.l-main-panel__card.align-items-center
    img.card-img-top.mb-2(src="../assets/img/fschipman.jpg", alt="François Schipman")
    .card-body.text-center
        .pb-2
            h1.h1 François Schipman
            h2.h2 Branquignol sénior
        .pb-2
            p.card-body__desc Expertise en semeur de troubles / BAC-5 Master en Glande Digital
        .border-top.pt-3
            a.card-body__link(href="#") Voir le profil