form.c-search-bar.d-flex.align-items-center(action='')
    label
        input.form-control.border-0(type='text', aria-describedby='', placeholder='Recherche')
    button.btn.btn-light.border-0(type='submit')
        i.icon-search