npm_modules
node_modules
bower_components
dist/assets/**/*
dist/pages/*
trash
Error.log
.DS_Store
.sass-cache
.tmp
.rvmrc
.trashes
.idea
*.log
*.orig
*~
temp.txt*
*.sublime-project
*.sublime-workspace
sftp-config.json