.badge {
    top: -5.5px;
    right: -7.5px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;

    span {
        font-family: var(--font-family-default);
        font-size: .85rem;
        font-weight: var(--font-weight-light-default);
        font-style: normal;
    }
}

//COLOR
.badge-primary {
    background-color: var(--primary);
}

//NOTES
.note {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--warning);

    &:before {
        content: "";
        margin-top: .5px;
        margin-left: .5px;
        border-radius: 50%;
        background-color: var(--danger);
    }
}

.note--4:before {
    width: calc((25px/6)*4);
    height: calc((25px/6)*4);
    border-radius: 50%;
}

.note--3:before {
    width: calc((25px/6)*3);
    height: calc((25px/6)*3);
    border-radius: 50%;
}

.note--2-5:before {
    width: calc((25px/6)*2.5);
    height: calc((25px/6)*2.5);
    border-radius: 50%;
}

.note--1:before {
    width: calc(25px/6);
    height: calc(25px/6);
    border-radius: 50%;
}