doctype HTML
html(lang="fr")
    head
        include ../layouts/head

    body
        .container-fluid
            .row
                .col-12
                    ul.m4
                        li.m4
                            a(href="layout_customer_appreciation.html") layout_customer_appreciation.html
                        li.m4
                            a(href="layout_customer_missions.html") layout_customer_missions.html
