.c-wrapper__avatars-list,.c-wrapper__project {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.c-wrapper__avatar {
    margin-left: .3rem;
    margin-right: -.7rem;
}

.c-wrapper__avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--border-color);
}

.c-wrapper__technos-list {
    padding-left: 1.5rem;

    li {
        list-style: circle;
    }
}
