section.c-wrapper
    .row
        .col-12
            h1.h1 Missions

            //CUSTOMER
            article.c-wrapper__article.my-4
                a.c-wrapper__title-group.d-block.mb-3.pb-2.border-bottom(href="#")
                    i.note.note--2-5.float-right.mr-3.mb-1
                    h2.h2 Marc Dorcel Interactive
                    span.sub-h1 Films pour adultes
                //AVATARS
                ul.c-wrapper__avatars-list.d-flex
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/cnorris.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/thill.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/ppoutou.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/kamel.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/fschipman.jpg", alt="François Schipman")
                //PROJECT
                ul.border-bottom.pt-3
                    li.c-wrapper__project.my-2
                        //DATES + TITLE
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    time.c-mission__dates(datetime="") 02-2018 - 11-2018
                                .col-12.col-sm-9
                                    h3.h3 XXL TV
                        //DESCRIPTION
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Description :
                                .col-12.col-sm-9
                                    ul.c-wrapper__technos-list
                                        li Refonte de l'application
                                        li Mise en place de nouveaux webservices
                                        li Captation des actions des utilisateurs
                        //TECHNOS
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Technologies :
                                .col-12.col-sm-9
                                    p .NET, server IIS, C#, SQL Server
                //PROJECT
                ul.border-bottom.pt-3
                    li.c-wrapper__project.my-2
                        //DATES + TITLE
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    time.c-mission__dates(datetime="") 03-2017 - 01-2018
                                .col-12.col-sm-9
                                    h3.h3 YouPorn.org
                        //DESCRIPTION
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Description :
                                .col-12.col-sm-9
                                    ul.c-wrapper__technos-list
                                        li Mise en place d'une application de VOD
                                        li Définition des spécifications
                                        li Gestion des utilisateurs
                        //TECHNOS
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Technologies :
                                .col-12.col-sm-9
                                    p .NET, server IIS, C#, SQL Server

            //CUSTOMER
            article.c-wrapper__article.my-4
                a.c-wrapper__title-group.d-block.mb-3.pb-2.border-bottom(href="#")
                    i.note.note--2-5.float-right.mr-3.mb-1
                    h2.h2 Diocèse de Paris - Notre-Dame
                    span.sub-h1 Institution catholique
                //AVATARS
                ul.c-wrapper__avatars-list.d-flex
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/cnorris.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/thill.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/ppoutou.jpg", alt="")
                    li.c-wrapper__avatar
                        a.d-block(href="#")
                            img.c-wrapper__avatar-img(src="../assets/img/kamel.jpg", alt="")
                //PROJECT
                ul.border-bottom.pt-3
                    li.c-wrapper__project.my-2
                        //DATES + TITLE
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    time.c-mission__dates(datetime="") 02-2018 - 11-2018
                                .col-12.col-sm-9
                                    h3.h3 Catho TV
                        //DESCRIPTION
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Description :
                                .col-12.col-sm-9
                                    ul.c-wrapper__technos-list
                                        li Refonte de l'application
                                        li Mise en place de nouveaux webservices
                                        li Captation des actions des utilisateurs
                        //TECHNOS
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Technologies :
                                .col-12.col-sm-9
                                    p .NET, server IIS, C#, SQL Server
                //PROJECT
                ul.border-bottom.pt-3
                    li.c-wrapper__project.my-2
                        //DATES + TITLE
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    time.c-mission__dates(datetime="") 03-2017 - 01-2018
                                .col-12.col-sm-9
                                    h3.h3 lavie.orfrg
                        //DESCRIPTION
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Description :
                                .col-12.col-sm-9
                                    ul.c-wrapper__technos-list
                                        li Mise en place d'une application de VOD
                                        li Définition des spécifications
                                        li Gestion des utilisateurs
                        //TECHNOS
                        .my-2
                            .row
                                .col-12.col-sm-3
                                    span Technologies :
                                .col-12.col-sm-9
                                    p .NET, server IIS, C#, SQL Server
