section.c-wrapper
    .row
        .col-12
            h1.h1 Appréciations des candidats

            //CUSTOMER
            article.c-wrapper__article.my-4
                a.c-wrapper__title-group.d-block.mb-3.pb-2.border-bottom(href="#")
                    h2.h2 Marc Dorcel Interactive
                    span.sub-h1 Films pour adultes
                //OPINION
                ul.border-bottom
                    li.c-wrapper__talks.my-2
                        .row
                            .col-12.col-sm-4
                                a.d-block(href="#")
                                    figure.media
                                        img.media-img.img-fluid.mr-3(src="../assets/img/fschipman.jpg", alt="François Schipman")
                                        figcaption.media-body
                                            h3.h3 François Schipman
                                            span Consultant SQLI
                            .col-12.col-sm-8
                                .c-wrapper__content
                                    i.note.note--2-5.float-left.mr-2.mb-1
                                    p Dorcel est une entreprise formidable. C'est là où j'ai connu mon petit ami Kamel...
                    li.c-wrapper__talks.my-2
                        .row
                            .col-12.col-sm-4
                                a.d-block(href="#")
                                    figure.media
                                        img.media-img.img-fluid.mr-3(src="../assets/img/kamel.jpg", alt="Kamel Ait Ferrouck")
                                        figcaption.media-body
                                            h3.h3 Kamel Ait Ferrouck
                                            span Ingénieur Systèmes
                            .col-12.col-sm-8
                                .c-wrapper__content
                                    i.note.note--4.float-left.mr-2.mb-1
                                    p On a des rapports basiques avec des questions basiques.
                    li.c-wrapper__talks.my-2
                        .row
                            .col-12.col-sm-4
                                a.d-block(href="#")
                                    figure.media
                                        img.media-img.img-fluid.mr-3(src="../assets/img/fschipman.jpg", alt="François Schipman")
                                        figcaption.media-body
                                            h3.h3 François Schipman
                                            span Consultant SQLI
                            .col-12.col-sm-8
                                .c-wrapper__content
                                    i.note.note--2-5.float-left.mr-2.mb-1
                                    p Ben, je te répond de façon basique.
                //FORM
                .row.justify-content-end
                    .col-12.col-sm-8
                        form(action="").c-wrapper__post-form.py-4
                            label.d-block.mb-2
                                textarea.form-control(placeholder="Poster une appréciation")
                            fieldset
                                button.btn.btn-primary.float-right(type="submit") Envoyer

            //CUSTOMER
            article.c-wrapper__article.my-4
                a.c-wrapper__title-group.d-block.mb-3.pb-2.border-bottom(href="#")
                    h2.h2 Danone
                    span.sub-h1 Agro-alimentaire
                //OPINION
                ul.border-bottom
                    li.c-wrapper__talks.my-2
                        .row
                            .col-12.col-sm-4
                                a.d-block(href="#")
                                    figure.media
                                        img.media-img.img-fluid.mr-3(src="../assets/img/fschipman.jpg", alt="François Schipman")
                                        figcaption.media-body
                                            h3.h3 François Schipman
                                            span Consultant SQLI
                            .col-12.col-sm-8
                                .c-wrapper__content
                                    i.note.note--3.float-left.mr-2.mb-1
                                    p Mauvaise ambiance.
                    li.c-wrapper__talks.my-2
                        .row
                            .col-12.col-sm-4
                                a.d-block(href="#")
                                    figure.media
                                        img.media-img.img-fluid.mr-3(src="../assets/img/kamel.jpg", alt="Kamel Ait Ferrouck")
                                        figcaption.media-body
                                            h3.h3 Kamel Ait Ferrouck
                                            span Ingénieur Systèmes
                            .col-12.col-sm-8
                                .c-wrapper__content
                                    i.note.note--1.float-left.mr-2.mb-1
                                    p je vais te balancer mon gobelet de café.
                    li.c-wrapper__talks.my-2
                        .row
                            .col-12.col-sm-4
                                a.d-block(href="#")
                                    figure.media
                                        img.media-img.img-fluid.mr-3(src="../assets/img/fschipman.jpg", alt="François Schipman")
                                        figcaption.media-body
                                            h3.h3 François Schipman
                                            span Consultant SQLI
                            .col-12.col-sm-8
                                .c-wrapper__content
                                    i.note.note--3.float-left.mr-2.mb-1
                                    p T'es malade.
                //FORM
                .row.justify-content-end
                    .col-12.col-sm-8
                        form(action="").c-wrapper__post-form.py-4
                            label.d-block.mb-2
                                textarea.form-control(placeholder="Poster une appréciation")
                            fieldset
                                button.btn.btn-primary.float-right(type="submit") Envoyer
